.m-0, .products .container .row .col-3 .card .card-footer h5 {
  margin: 0rem;
}

.p-0 {
  padding: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ms-0 {
  margin-left: 0rem;
}

.me-0 {
  margin-right: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.ps-0 {
  padding-left: 0rem;
}

.pe-0 {
  padding-right: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.m-1 {
  margin: 0.5rem;
}

.p-1 {
  padding: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ms-1 {
  margin-left: 0.5rem;
}

.me-1, .productid .container .row .col-8 .size button {
  margin-right: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-1, .productid .container .row .col-8 .price {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.ps-1 {
  padding-left: 0.5rem;
}

.pe-1 {
  padding-right: 0.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.p-2 {
  padding: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ms-2, .header .container .header-right .search .cart a {
  margin-left: 1rem;
}

.me-2 {
  margin-right: 1rem;
}

.mx-2, .liveshow .container .button button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2, .productid .container .row .col-8 .size {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.ps-2 {
  padding-left: 1rem;
}

.pe-2 {
  padding-right: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.p-3 {
  padding: 1.5rem;
}

.mt-3, .productid .container .row .col-8 .btnCart {
  margin-top: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.ms-3 {
  margin-left: 1.5rem;
}

.me-3 {
  margin-right: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.ps-3 {
  padding-left: 1.5rem;
}

.pe-3 {
  padding-right: 1.5rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.p-4 {
  padding: 2rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ms-4 {
  margin-left: 2rem;
}

.me-4 {
  margin-right: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.ps-4 {
  padding-left: 2rem;
}

.pe-4 {
  padding-right: 2rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.p-5 {
  padding: 2.5rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.ms-5 {
  margin-left: 2.5rem;
}

.me-5 {
  margin-right: 2.5rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.ps-5 {
  padding-left: 2.5rem;
}

.pe-5 {
  padding-right: 2.5rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.m-6 {
  margin: 3rem;
}

.p-6 {
  padding: 3rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.ms-6 {
  margin-left: 3rem;
}

.me-6 {
  margin-right: 3rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pt-6 {
  padding-top: 3rem;
}

.pb-6 {
  padding-bottom: 3rem;
}

.ps-6 {
  padding-left: 3rem;
}

.pe-6 {
  padding-right: 3rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-7 {
  margin: 3.5rem;
}

.p-7 {
  padding: 3.5rem;
}

.mt-7 {
  margin-top: 3.5rem;
}

.mb-7 {
  margin-bottom: 3.5rem;
}

.ms-7 {
  margin-left: 3.5rem;
}

.me-7 {
  margin-right: 3.5rem;
}

.mx-7 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.my-7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.pt-7 {
  padding-top: 3.5rem;
}

.pb-7 {
  padding-bottom: 3.5rem;
}

.ps-7 {
  padding-left: 3.5rem;
}

.pe-7 {
  padding-right: 3.5rem;
}

.px-7 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py-7 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.m-8 {
  margin: 4rem;
}

.p-8 {
  padding: 4rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mb-8, .products .container .product-clipped-text h2 {
  margin-bottom: 4rem;
}

.ms-8 {
  margin-left: 4rem;
}

.me-8 {
  margin-right: 4rem;
}

.mx-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.pt-8 {
  padding-top: 4rem;
}

.pb-8 {
  padding-bottom: 4rem;
}

.ps-8, .productid .container .row .col-8 {
  padding-left: 4rem;
}

.pe-8 {
  padding-right: 4rem;
}

.px-8 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-8, .productid .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.m-0, .products .container .row .col-3 .card .card-footer h5 {
  margin: 0rem;
}

.p-0 {
  padding: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ms-0 {
  margin-left: 0rem;
}

.me-0 {
  margin-right: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.ps-0 {
  padding-left: 0rem;
}

.pe-0 {
  padding-right: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.m-1 {
  margin: 0.5rem;
}

.p-1 {
  padding: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.ms-1 {
  margin-left: 0.5rem;
}

.me-1, .productid .container .row .col-8 .size button {
  margin-right: 0.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-1, .productid .container .row .col-8 .price {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.ps-1 {
  padding-left: 0.5rem;
}

.pe-1 {
  padding-right: 0.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.p-2 {
  padding: 1rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.ms-2, .header .container .header-right .search .cart a {
  margin-left: 1rem;
}

.me-2 {
  margin-right: 1rem;
}

.mx-2, .liveshow .container .button button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2, .productid .container .row .col-8 .size {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.ps-2 {
  padding-left: 1rem;
}

.pe-2 {
  padding-right: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.p-3 {
  padding: 1.5rem;
}

.mt-3, .productid .container .row .col-8 .btnCart {
  margin-top: 1.5rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.ms-3 {
  margin-left: 1.5rem;
}

.me-3 {
  margin-right: 1.5rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.ps-3 {
  padding-left: 1.5rem;
}

.pe-3 {
  padding-right: 1.5rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.p-4 {
  padding: 2rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ms-4 {
  margin-left: 2rem;
}

.me-4 {
  margin-right: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.ps-4 {
  padding-left: 2rem;
}

.pe-4 {
  padding-right: 2rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.p-5 {
  padding: 2.5rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.ms-5 {
  margin-left: 2.5rem;
}

.me-5 {
  margin-right: 2.5rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.ps-5 {
  padding-left: 2.5rem;
}

.pe-5 {
  padding-right: 2.5rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.m-6 {
  margin: 3rem;
}

.p-6 {
  padding: 3rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.ms-6 {
  margin-left: 3rem;
}

.me-6 {
  margin-right: 3rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.pt-6 {
  padding-top: 3rem;
}

.pb-6 {
  padding-bottom: 3rem;
}

.ps-6 {
  padding-left: 3rem;
}

.pe-6 {
  padding-right: 3rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-7 {
  margin: 3.5rem;
}

.p-7 {
  padding: 3.5rem;
}

.mt-7 {
  margin-top: 3.5rem;
}

.mb-7 {
  margin-bottom: 3.5rem;
}

.ms-7 {
  margin-left: 3.5rem;
}

.me-7 {
  margin-right: 3.5rem;
}

.mx-7 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.my-7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.pt-7 {
  padding-top: 3.5rem;
}

.pb-7 {
  padding-bottom: 3.5rem;
}

.ps-7 {
  padding-left: 3.5rem;
}

.pe-7 {
  padding-right: 3.5rem;
}

.px-7 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py-7 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.m-8 {
  margin: 4rem;
}

.p-8 {
  padding: 4rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mb-8, .products .container .product-clipped-text h2 {
  margin-bottom: 4rem;
}

.ms-8 {
  margin-left: 4rem;
}

.me-8 {
  margin-right: 4rem;
}

.mx-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.pt-8 {
  padding-top: 4rem;
}

.pb-8 {
  padding-bottom: 4rem;
}

.ps-8, .productid .container .row .col-8 {
  padding-left: 4rem;
}

.pe-8 {
  padding-right: 4rem;
}

.px-8 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-8, .productid .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}

.actives {
  font-size: 13px;
  font-weight: 600;
  color: rgb(169, 31, 50) !important;
  position: relative;
}
.actives::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgb(169, 31, 50);
  bottom: -10px;
  left: 0;
  transform: scale(1, 1) !important;
}

.avticeButton {
  background: #fff;
  border-color: rgb(169, 31, 50) !important;
  color: rgb(169, 31, 50) !important;
}

.header {
  background: rgb(189, 110, 113);
  background: linear-gradient(79deg, rgb(189, 110, 113) 20%, rgb(205, 114, 93) 60%, rgb(184, 65, 38) 92%, rgb(163, 72, 51) 100%);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .menu {
  width: 60%;
  padding: 20px 0;
}
.header .container .menu ul {
  margin: 0;
}
.header .container .menu ul li {
  list-style: none;
  display: inline;
  padding: 0 10px;
}
.header .container .menu ul li a {
  text-decoration: none;
  margin: 0 15px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.header .container .menu ul li a:hover {
  color: rgb(169, 31, 50);
}
.header .container .menu ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(169, 31, 50);
  bottom: -10px;
  left: 0;
  transition: all 0.5s;
  transform: scale(0, 0);
}
.header .container .menu ul li a:hover::after {
  transform: scale(1, 1);
  transition: all 0.5s;
}
.header .container .header-right {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .container .header-right .search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
}
.header .container .header-right .search .search-input {
  position: relative;
}
.header .container .header-right .search .search-input input {
  position: relative;
  outline: none;
  padding: 10px 10px 10px 30px;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  transition: all 0.5s;
  color: white;
}
.header .container .header-right .search .search-input input::placeholder {
  color: #fff;
}
.header .container .header-right .search .search-input input:focus {
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
.header .container .header-right .search .search-input i {
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 25px;
}
.header .container .header-right .search .cart a {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  transition: all 0.5s;
}
.header .container .header-right .search .cart a:hover {
  color: rgb(169, 31, 50);
}
.header .container .header-right .user a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.7s;
  cursor: pointer;
}
.header .container .header-right .user a:hover {
  color: rgb(169, 31, 50);
  background: #fff;
  border-color: rgb(169, 31, 50);
}

.products {
  background: #181818;
  padding: 100px 0;
}
.products .container {
  text-align: center;
}
.products .container .product-clipped-text {
  background-image: linear-gradient(79deg, rgb(189, 110, 113) 20%, rgb(205, 114, 93) 60%, rgb(184, 65, 38) 92%, rgb(163, 72, 51) 100%);
}
.products .container .product-clipped-text h2 {
  font-size: 120px;
}
.products .container [class$=-clipped-text] {
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  background-color: rgb(189, 110, 113);
}
.products .container .row .col-3 .card .card-body:hover {
  background-color: rgb(189, 110, 113);
  transition: all 0.5s ease-in-out;
}
.products .container .row .col-3 .card .card-body:hover h4 {
  color: #fff;
  transition: all 0.5s;
}
.products .container .row .col-3 .card .card-body h4 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(169, 31, 50);
}
.products .container .row .col-3 .card .card-footer {
  background-color: #181818;
  height: 70px;
}
.products .container .row .col-3 .card .card-footer .slide-btn a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.7s;
  cursor: pointer;
}
.products .container .row .col-3 .card .card-footer .slide-btn a:hover {
  color: rgb(169, 31, 50);
  background: #fff;
  border-color: rgb(169, 31, 50);
}
.products .container .row .col-3 .card .card-footer h5 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.liveshow {
  height: 600px;
  background: rgb(189, 110, 113);
  background: linear-gradient(79deg, rgb(112, 76, 78) 20%, rgb(142, 79, 65) 60%, rgb(131, 49, 30) 92%, rgb(163, 72, 51) 100%);
  overflow: hidden;
  display: grid;
  place-items: center;
}
.liveshow .container {
  position: relative;
  width: 900px;
  height: 500px;
  background: #f5f5f5;
}
.liveshow .container .slides .slide-item {
  width: 165px;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}
.liveshow .container .slides .slide-item .slide-content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}
.liveshow .container .slides .slide-item .slide-content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 0.6s ease-in-out 1 forwards;
}
.liveshow .container .slides .slide-item .slide-content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 0.6s ease-in-out 0.3s 1 forwards;
}
.liveshow .container .slides .slide-item .slide-content button {
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.7s;
  cursor: pointer;
  opacity: 0;
  animation: animate 0.6s ease-in-out 0.6s 1 forwards;
}
.liveshow .container .slides .slide-item .slide-content button:hover {
  color: rgb(169, 31, 50);
  background: #fff;
  border-color: rgb(169, 31, 50);
}
.liveshow .container .slides .slide-item:nth-child(1) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.liveshow .container .slides .slide-item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.liveshow .container .slides .slide-item:nth-child(2) .slide-content {
  display: block;
}
.liveshow .container .slides .slide-item:nth-child(3) {
  left: 50%;
}
.liveshow .container .slides .slide-item:nth-child(4) {
  left: calc(50% + 210px);
}
.liveshow .container .slides .slide-item:nth-child(5) {
  left: calc(50% + 430px);
}
.liveshow .container .slides .slide-item:nth-child(n+6) {
  left: calc(50% + 650px);
  opacity: 0;
}
.liveshow .container .button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}
.liveshow .container .button button {
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.7s;
  cursor: pointer;
}
.liveshow .container .button button:hover {
  color: rgb(169, 31, 50);
  background: #fff;
  border-color: rgb(169, 31, 50);
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}
.footer {
  background-color: #26292e;
  padding: 50px 0 0;
}
.footer .footer-services .container {
  max-width: 80vw;
}
.footer .footer-services .container .row {
  border-bottom: 1px solid #999999;
  padding: 30px 0;
}
.footer .footer-services .container .row .col {
  position: relative;
}
.footer .footer-services .container .row .col .single-service {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-services .container .row .col .single-service .service-icon img {
  max-width: 100%;
  height: auto;
}
.footer .footer-services .container .row .col .single-service .serivce-cont {
  margin-left: 10px;
}
.footer .footer-services .container .row .col .single-service .serivce-cont h3 {
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.footer .footer-services .container .row .col .single-service .serivce-cont p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
.footer .footer-services .container .row .col::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
  right: 10px;
  top: 0;
}
.footer .footer-services .container .row .col:nth-child(5)::after {
  background-color: transparent;
}
.footer .footer-top {
  padding: 80px 0;
}
.footer .footer-top .container {
  max-width: 80vw;
}
.footer .footer-top .container .row .col-4 {
  padding: 0;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-logo a img {
  width: 200px;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .phone {
  background: rgba(0, 0, 0, 0) url(../img/phone.png) no-repeat scroll left center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
  padding-left: 60px;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .desc_footer {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .social_follow ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .social_follow ul li {
  display: inline-block;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .social_follow ul li a {
  background: #373b41 none repeat scroll 0 0;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  text-align: center;
  width: 40px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .social_follow ul li a:hover {
  background: #333333 !important;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .social_follow ul li.facebook a {
  background: #3c5b9b;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .social_follow ul li.twitter a {
  background: #1aaed9;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .social_follow ul li.youtube a {
  background: #d82114;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .social_follow ul li.google a {
  background: #eb3e32;
}
.footer .footer-top .container .row .col-4 .about-us-footer .footer-info .social_follow ul li.instagram a {
  background: #8a7763;
}
.footer .footer-top .container .row .col-lg-8 {
  margin: auto 0;
}
.footer .footer-top .container .row .col-lg-8 .footer-info-inner .row .col-lg-2 .footer-title h3 {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 15px;
  position: relative;
  text-transform: uppercase;
}
.footer .footer-top .container .row .col-lg-8 .footer-info-inner .row .col-lg-2 ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.footer .footer-top .container .row .col-lg-8 .footer-info-inner .row .col-lg-2 ul li {
  border: 0 none;
  display: block;
  margin: 0 0 12px;
  padding: 0;
}
.footer .footer-top .container .row .col-lg-8 .footer-info-inner .row .col-lg-2 ul li a {
  text-decoration: none;
  color: #ddd;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
}
.footer .footer-top .container .row .col-lg-8 .footer-info-inner .row .col-lg-2 ul li a:hover {
  color: #eb3e32;
}
.footer .footer-top .container .row .col-lg-8 .footer-info-inner .row .col-lg-5 .footer-title h3 {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 15px;
  position: relative;
  text-transform: uppercase;
}
.footer .footer-top .container .row .col-lg-8 .footer-info-inner .row .col-lg-5 .block-contact-text p {
  color: #ddd;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 5px;
}
.footer .footer-top .container .row .col-lg-8 .footer-info-inner .row .col-lg-5 .time h3 {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 15px;
  position: relative;
  text-transform: uppercase;
}
.footer .footer-top .container .row .col-lg-8 .footer-info-inner .row .col-lg-5 .time .time-text p {
  color: #ddd;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}
.footer .footer-bottom .container-fluid {
  padding: 50px 100px;
  border-top: 1px solid #181818;
}
.footer .footer-bottom .container-fluid .row .col-lg-6 .copyright {
  color: #ddd;
  margin: 4px 0 0 0;
}
.footer .footer-bottom .container-fluid .row .col-lg-6 .payment {
  float: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; /* Ensure the header stays on top of other elements */
  background: rgba(0, 0, 0, 0.407);
  backdrop-filter: blur(35px);
  box-shadow: 0px 7px 11px -4px rgba(0, 0, 0, 0.1);
}

.productid .container .row {
  align-items: center;
}
.productid .container .row .col-8 {
  height: 100%;
}
.productid .container .row .col-8 h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  color: rgb(169, 31, 50);
}
.productid .container .row .col-8 p {
  width: 70%;
}
.productid .container .row .col-8 .size h2 {
  color: #181818;
}
.productid .container .row .col-8 .size button {
  font-size: 16px;
  font-weight: 600;
  color: rgb(169, 31, 50);
  padding: 10px 10px;
  border: 2px solid rgb(169, 31, 50);
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.7s;
  cursor: pointer;
}
.productid .container .row .col-8 .size button:hover {
  color: #fff;
  background: rgb(169, 31, 50);
  border-color: rgb(169, 31, 50);
}
.productid .container .row .col-8 .price {
  font-size: 30px;
  font-weight: 600;
  color: #181818;
}
.productid .container .row .col-8 .upDown span {
  font-size: 16px;
  font-weight: 600;
  color: #181818;
}
.productid .container .row .col-8 .btnCart a {
  text-decoration: none;
  background-color: rgb(169, 31, 50);
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 10px;
  border: 2px solid #181818;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.7s;
  cursor: pointer;
}
.productid .container .row .col-8 .btnCart a:hover {
  color: rgb(169, 31, 50);
  background: #fff;
  border-color: rgb(169, 31, 50);
}/*# sourceMappingURL=detail.css.map */